/*selector {
	 property: value;
}*/

body{
	background-image: url(backimage.JPG);
	background-size: cover;
}
h2 {
	color: red;
	text-align: center;
	cursor: pointer;
}
 li {
 	list-style: none;
 	text-align: center;
 }   
 li {
 	color: red;
 	text-align: center;
 }
 .wed {
 	color: red;
 }


